DOMAIN=raolv.com
PAGE_SIZE=18

DB_URL=ws://127.0.0.1:8000
DB_NS=raolv
DB_NAME=raolv
DB_USER=root
DB_PASS=root

EMAIL_SMTP=smtp.example.com
EMAIL_FROM=noreply@example.com
EMAIL_USERNAME=
EMAIL_PASSWORD=
